/*estos son mis estilos*/

.w {
  background-color: #1e1e1e; /* Fondo del formulario */
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: #ffffff;
}


.formLabel {
  color: #222222;
}

.formControl {
 margin: 10px;
}
